.about-page {
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20rem 0 20rem;
  background-color: #FFF2DF;
}

.hero-section {
  background-color: #e3c79f;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section img {
  width: 70%;
  height: 100vh;
  border-radius: 0;
}

.about-section {
  width: 100%;
  padding: 4rem;
  border-radius: 8px;
}

.about-section h1,
.about-section h2 {
  margin-bottom: 1rem;
  color: #1E50A2;
  font-weight: 600;
  text-align: center;
}

.about-section p {
  line-height: 1.8;
  color: #444;
  font-size: 1.05rem;
  text-align: center;
}
