.site-header {
  background: #003153;
  color: white;
  padding: 0.5rem 10rem;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
  flex-shrink: 0;
}

.logo-img {
  height: 20px;
  width: auto;
}

.logo-text {
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  gap: 0;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}

.nav-links a:hover {
  color: #E3C79F;
  text-decoration: none;
}

/* Dropdown */
.dropdown {
  position: static;
}

.dropdown-menu {
  position: absolute;
  background: #064775;
  color: #E3C79F;
  list-style: none;
  padding: 1rem 10rem;
  margin: 0;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;

  visibility: hidden;
  opacity: 0;
  transform: translateY(-15px);
  transition: all 0.3s ease-in-out;
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
}

.dropdown-menu li a {
  color: #FFF;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}

.dropdown-menu li a:hover {
  color: #E3C79F;
  border-radius: 4px;
}

.dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}